__pycache__/
*.pyc
*.pyo
.DS_Store
checkpoints/
results/
results_mp/
results_mediapipe/
results_sb/**/*.mp4
data/*/keypoints/*.npy
data/*/keypoints_sb/
data/*/keypoints_mp/
data/*.mp4
yolov8n.pt
models/
.venv/
.venv_mp/
*.egg-info/
